.navbarItem {
    color: rgb(187, 148, 112);
    height: 4rem;
    margin-top: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 3rem;
}

.navbarItem:hover {
    color: bisque
}